@model InstructorWithDeptAndCourseViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form action="/Instructor/SaveEdit/@Model.Id" method="Post">
    <div>
        <label>Name</label>
        <input type="text" name="Name" id="Name" value="@Model?.Name" class="form form-control" />
    </div>
    <div>
        <label>Address</label>
        <input type="text" name="Address" id="Address" value="@Model?.Address" class="form form-control" />
    </div>
    <div>
        <label>Salary</label>
        <input type="number" name="Salary" id="Salary" value="@Model?.Salary" class="form form-control" />
    </div>
    <div>
        <label>Image Profile</label>
        <input type="text" name="ImgURL" id="ImgURL" value="@Model?.ImgURL" class="form form-control" />
    </div>
     <div>
        <label>department</label>
       @* <input type="text" name="dept_id" id="dept_id" value="@Model?.dept_id" class="form form-control" />*@
        <select class="form form-control" name="dept_id" id="dept_id">
            
            @foreach(var deptItem in Model.Departments)
            {
                if (Model.dept_id == deptItem.Id)
                {
                    <option value="@deptItem.Id" selected>@deptItem.Name</option>
                }
                else
                {
                    <option value="@deptItem.Id">@deptItem.Name</option>

                }
            }
       </select>
    </div>
    <div>
        <label>CourseID</label>
       @*<input type="text" name="Crs_id" id="Crs_id" value="@Model?.Crs_id" class="form form-control" />*@
        <select class="form form-control" name="Crs_id" id="Crs_id">
            @foreach (var CrsItem in Model.Courses)
            {
                if (Model.Crs_id == CrsItem.Id)
                {
                    <option value="@CrsItem.Id" selected>@CrsItem.Name</option>
                }
                else
                {
                    <option value="@CrsItem.Id">@CrsItem.Name</option>
                }
            }
        </select>
    </div>
    <input asp-for="Id" hidden />

    <input type="submit" value="Save" class="btn btn-success"/> 
</form>

<button class="btn btn-info">
    <a href="/instructor/showAll" style="text-decoration:none">Back To List</a>
</button>

