@model List<TraineeCourseResultViewModel>
@{
    ViewData["Title"] = "ShowTraineeResult";
}

<h1>ShowTraineeResult</h1>

@{
    string previousTraineeName = null;
}

@foreach (var item in Model)
{
     
    @if (item.TraineeName != previousTraineeName)
    {
            <span style="color: @item.Color">@item.TraineeName:</span>      

             <li style="color: @item.Color">@item.CourseName</li>        
    }
    else
    {        
           <li style="color: @item.Color">@item.CourseName</li>
    }
    previousTraineeName = item.TraineeName;
}
