@model TraineeCourseResultViewModel

<h1>ShowResult</h1>

<div class="card container mt-3" style="width:400px"> 
    <div class="card-body">

        <p class="card-text" style=" display: flex; justify-content: center; margin: 0 auto;">
            <li style="color: @Model.Color">@Model.CourseName</li>
            <li style="color: @Model.Color">@Model.TraineeName</li>
         
        </p>
         
    </div>

</div>
@* 
<li style="color: @Model.Color">@Model.CourseName</li>
<li style="color: @Model.Color">@Model.TraineeName</li> *@
